body{
    margin: 0;
    font-family: "Amazon Ember",
    sans-serif;
}
:root{
   --header-background-color: #131921;
   --overlay-background-color: rgba(0, 0, 0, 0.4);
   --search-icon-background-color: #febd69;
   --lang-label-font-color: #555c54;
   --lang-shopping-font-color: #555c54;
   --lang-link-color: #0000EE;
   --white-color:#ffffff;
   --input-radio-color:#ffd814;
   --link-color: blue;
   --link-hover-effect-color:rgb(247, 93, 4);
   --drobdown-side-button:#a7acb2;
}

.main-nav{
    height: 60px;
    width: 100%;
    background-color: var(--header-background-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}
.mainnav-logo{
    display: block;
    background: url("amazonlogo background.png");
    background-position: 4px 333px;
    width: 112px;
    height: 50px;
    margin-top: 24px;
}
.amazon-logo{
    width: 141px;
    height: 50px;
    display: flex;
    margin-left: 5px;
    margin-top: -40px;
}
.mainnav-logo:hover{
    border: 1px solid var(--drobdown-side-button);
    
}
.amazon-eg{
    display: block;
    color: var(--white-color);
    font-size: 13px;
    margin-top: 15px;
    margin-left: 111px;
    height: 2px;
    font-family: inherit;
}
.mainnav-logo{
    display: block;
    background: url("amazonlogo background .png");
    background-position: 4px 333px;
    width: 112px;
    height: 50px;
    margin-top: 24px;
}
.mainnav-amazonlogo{
    display: block;
    width: 135px;
    height: 80px;
    opacity: 0%; 
}
.mainnav-location{
 width: 196px;
    height: 56px;
    display: flex;
    margin-left: -244px;
    justify-content: flex-start;
}
.location-item{
   display: block;
    background: url("amazonlogo background .png");
    background-position: -32px 161px;
    width: 104px;
    height: 50px;
    margin-top: 6px; 
    padding: 0px;
}
.location-icon{
   display: block;
    width: 20px;
    height: 80px;
    opacity: 0%;
     
}
.mainnav-delivary{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 137px;
    height: 16px;
    margin-left: -46px;
    margin-top: 13px;
}
.mainnav-location:hover {
    border: 1px solid var(--white-color);
    padding-right: 5px;
}
.mainnav-delivary2{
    width: 150px;
    height: 15px;
    font-size: 12px;
    font-family: inherit;
    font-weight: 500;
    color: #a5ada4;
}
.mainnav-delivary3{
    display: inline;
    margin-top: 1px;
    width: 179px;
    height: 10px;
    font-size: 15px;
    color: var(--white-color);
    font-weight: 600;
     font-family: "Amazon Ember", Arial, Helvetica,
    sans-serif;
}
.search-box{
    display: flex;
    align-items: center;
    width: 616px;
    height: 41px;
    margin-left: -195px;
    margin-right: -178px;
    border-radius: 6px;
}
.searchbox-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 634px;
    height: 40px;
    background-color: var(--white-color);
    gap: 300px;
    border-radius: 6px;
}
.All-drobdown{
    display: flex;
    width: 65px;
    height: 40px;
    margin-left: 0px;
    margin-right: auto;
    font-family: "Amazon Ember", Arial, Helvetica,
    sans-serif;
}
.ALL-drobdownbutton{
    display: block;
    width: 65px;
    height: 41px;
    color: #666666;
}
.All-button{
    margin-left: 11px;
    color: #666666;
    font-size: smaller;
}
.placeholder{
    font-size: 14px;
    margin-top: 11px;
    margin-left: 9px;
}
.searchbox-sprite{
  display: block;
  width: 46px; 
  height: 40px; 
  background-image: url("amazonlogo background .png");
  background-position: 2px 171px;
  margin-right: 0px;
  margin-left: auto;
  background-color: var(--search-icon-background-color);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.searchbox-icon{
   display: block;
    width: 18px;
    height: 38px;
    opacity: 0%; 
}
.mainnav-right{
    display: flex;
    width: 367px;
    height: 60px;
}
.mainnav-lang{
    display: flex;
    align-items: center;
    width: 25px;
    height: 55px;
    margin-top: 8px;
    margin-left: -5px;
    

    
}
.favourite-lang{
    display: block;
    align-items: center;
    width: 260px;
    height: 260px;
    margin-top: 100px;
    margin-left: -112px;
    position: relative;
}
.dropdown-overlay{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-background-color);
    z-index: 999;
}
.favourite-lang-drobdown::before{
    display: none;
    content: "";
    position: absolute;
    top: -10px;
    left: 55%;
    transform: translateX(-50%);
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent white;
}
.favourite-lang-drobdown{
    display: block;
    width: 200px;
    height: 200px;
    margin-top: 100px;
   position: absolute;
}
.favourite-lang-label{
  color: var(--lang-label-font-color);
  font-family: Arial, sans-serif; 
  font-size: 12px; 
}
.favourite-lang-shopping{
    margin-top: 29px;
    color: var(--lang-shopping-font-color);
    font-family: Arial, sans-serif;
   font-size: 15px; 
}
.favourite-lang-button{
    color: var(--lang-link-color);
    text-decoration: none;
    font-size: 14px;
}
.favourite-lang-content{
    display: none;
    width: 200px;
    height: 200px;
}
.favourite-lang-fieldset{
    display: none;
    width: 200px;
    height: 193px;
    margin-top: -3px; 
    margin-left: 40px;
}
.favourite-lang-line{
    width: 180px;
    margin-left: 27px;
    margin-top: 8px;
    opacity: 0.3;
}
.favourite-lang-country{
    display:block;
    margin-left: 24px;
    margin-top: 8px;
}
.favourite-lang-legend{
    color:#474849
}
.mainnav-lang:hover .favourite-lang-fieldset{
    display: block;
    background-color: var(--white-color);
    border: none;
}
.mainnav-lang:hover .dropdown-overlay{
    display: block;
}
.mainnav-lang:hover .favourite-lang-drobdown{
    display: block;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
}
.mainnav-lang:hover .favourite-lang-drobdown::before{
    display: block;
}
.mainnav-en-lang{
    color: var(--white-color);
    font-size: 13px;
    margin-left: 3px;
    margin-top: 4px;
    font-weight: bold;
}
.mainnav-lang-button{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 50px;
}  
.mainnav-right-lang-button{
    color: var(--drobdown-side-button);
    margin-top: 32px;
    font-size: smaller;
    margin-left: 3px;
    width: 20px;
    height: 40px;
}
.mainnav-lang:hover .mainnav-lang-button{
border: 1px solid var(--white-color);
z-index: 1000;
width: 53px;
}
input[type="radio"] {
    accent-color: var(--input-radio-color);
}
.mainnav-signin{
    display: flex;
    margin-left: 49px;
    margin-top: 16px;
    width: 120px;
    height: 55px;
}
.signin{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 138px;
    height: 55px;
}
.mainnav-hello{
    color: var(--white-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.mainnav-account{
    color: var(--white-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 2px;
    font-weight: 600;
}
.singin-sidebutton{
    margin-top: 30px;
    margin-left: 19px;
}
.signin-button{
    color: var(--drobdown-side-button);
    margin-left: -27px;
    margin-top: 14px;
    font-size: smaller;
}
.signin:hover {
    border: 1.2px solid var(--white-color);
    z-index: 1010;
    width: 105px;

}
.signin-drobdown-link-start:hover{
    color: var(--link-hover-effect-color);
    text-decoration: underline;
}
.signin:hover .signin-drobdown{
    display: block;
    background-color: white;
}
.signin:hover .signin-drobdown-overlay{
    display: block;
}
.signin-drobdown{
    display: none;
    position: absolute;
    width: 480px;
    height: 350px;
    margin-top: 42px;
    margin-left: -217px;
    z-index: 1000;
    border-radius: 4px;
}
.signin-drobdown::before{
    content: "";
    position: absolute;
    top: -10px;
    left: 68%;
    transform: translateX(-50%);
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent white;
}
.favourite-lang-content{
    display: block;
    width: 480px;
    height: 317px;
}
.signin-drobdown-overlay{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
}
.signin-drobdown-header{
    display: flex;
    flex-direction: column;
    margin-left: 84px;
    margin-top: 14px;
}
.signin-drobdown-header-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 35px;
    border-radius: 8px;
    background-color: rgb(238, 204, 12);
    color: black;
    margin-left: 24px;
}
.signin-drobdown-header-link2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 10px;
    background-color: var(--white-color);
    margin-top: 8px;
    font-size: 12px;
}
.signin-drobdown-customer{
    margin-bottom: 8px;
    margin-right: 5px;
}
.signin-drobdown-link-start{
    color: var(--link-color);
     margin-bottom: 8px; 
}
.signin-drobdown-line-header{
    width: 440px;
    opacity: 0.3;
    margin-left: 30px;
}
.signin-drobdown-button{
    text-decoration: none;
    font-size: 14px;
}
.signin-drobdown-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 250px;
    margin-top: 44px;
    margin-left: 24px;
    
}
.signin-drobdown-body-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 180px;
    height: 247px;
    margin-left: 30px;
   border-right: 0.3px solid #e0e9e9;
    margin-right: 100px;
    margin-top: -57px;
}
.signin-drobdown-lists{
    font-weight: 600;
    margin-left: -25px;
}
.signin-drobdown-creat{
    color: black;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    margin-left: -25px;
}
.signin-drobdown-body-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 250px;
    height: 300px;
    margin-left: -110px;
    margin-right: -9px;
   
}
.signin-drobdown-head2{
    font-weight: 600;
}
.signin-drobdown-link{
    color: #424344;
    text-decoration: none;
    font-size: 14px;
}
.signin-drobdown-link:hover{
    color: var(--link-hover-effect-color);
    text-decoration: underline;
}
.signin-drobdown-creat:hover{
    color: var(--link-hover-effect-color);
    text-decoration: underline;
}
.orders{
    display: block;
    width: 62px;
    height: 50px;
    margin-top: 27px;
    margin-left: 4px;
    font-weight: 600;
    font-size: 14px;
}
.orders:hover{
    border: 1px solid var(--white-color);
    height: 20px;
    width: 44px;
    padding: 4px;
}
.orders2{
    color: var(--white-color);
}
.mainnav-right-car{
    display: flex;
    flex-direction: column;
    width: 84px;
    height: 50px;
    margin-top: 11px;
    margin-right: 15px;
    margin-left: 2px;
}
.input-car{
    font-size: 17px;
    color: #f08804;
    margin-left: 25px;
    font-weight: 700;
    
}
.mainnav-shopingcar{
    display: block;
    width: 83px;
    height: 49px;
    background: url("amazonlogo background .png");
    background-position: -912px 122px;
    margin-top: -25px;
}
.mainnav-shopingcar2{
    display: block;
    width: 82px;
    height: 48px;
    opacity: 0;
    margin-top: 10px;
}
.mainnav-right-car:hover {
    border: 1px solid var(--drobdown-side-button);
    height: 42px;
}
.cart{
    margin-top: 28px;
    margin-left: -54px;
    font-size: 16px;
    font-weight: 600;
    color: #f0f8ff;
}
.secend-nav{
    display: flex;
    width: 100%;
    height: 39px;
    background-color: #232f3e;
}
.humberger-menu{
    display: flex;
    align-items: center;
    width: 59px;
    height: 39px;
    margin-left: 17px;
}
.humberger-icom{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30px;
    height: 32px;
     background-image: url("amazonlogo background .png");
     background-position: -167px 202px;
     font-size: 14px;
     margin-top: 4px;
     margin-left: -1px;
}
.humberger-item{
    display: block;
    width: 26px;
    height: 31.9px;
    opacity: 0;
}
.humberger-all{
    color: var(--white-color);
    margin-left: 28px;
    font: bold 13px Arial,sans-serif 


}
.second-navheader{
    display: flex;
    flex-direction: row;
    width: 863px;
    height: 39px;
    align-items: center;
    margin-left: -37px;
   
}
.secondnav-ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
}
.refrance-secondnav{
    text-decoration: none;
    color: white;
}
.rightnav-picture{
    display: flex;
    justify-content: flex-end;
    width: 428px;
    height: 39px;
    margin-left: 46px;
}
.prime{
    display: block;
    width: 34px;
    height: 20px;
    position: relative;
}
.prime-button{
    color: var(--drobdown-side-button);
    font-size: small;
    margin-left: 35px;
    margin-top: -14px;
    position: absolute;
}
.prime-drobdown-overlay{
     position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
}
.prime-drobdown{
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 340px;
    height: 450px;
    margin-top: 8px;
    margin-left: -11px;
}
.prime-drobdown::before{
   display: block;
    content: "";
    position: absolute;
    top: -10px;
    left: 15%;
    margin-top: 2px;
    transform: translateX(-50%);
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent white; 
}
.prime:hover .prime-drobdown{
    display: block;
    background-color: var(--white-color);
    z-index: 1000;

}
.prime:hover .prime-drobdown-overlay{
    display: block;
}
.prime-drobdown-header{
    display: block;
    margin-top: 20px;
    margin-left: 45px;
}
.prime-head{
    font-size: 26px;
    font-weight: bold;
    color: black;
    margin-left: 2px;
}
.prime-paragraph1{
    margin-left: -7px;
    font-size: 12px;
}
.prime-paragraph2{
    margin-left: 19px;
    font-size: 15px;
}
.prime-photo{
    display: flex;
    width: 312px;
    height: 245px;
    justify-content: center;
    background-color: #0773f7;
    margin-top: 12px;
    margin-left: 10px;
}
.prime-join{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 305px;
    height: 32px;
    border-radius: 15px;
    background-color: rgb(238, 204, 12);
    margin-top: 14px;
    margin-left: 17px;
}
.prime-link{
    color: black;
}
.prime-logo{
    display: flex;
    justify-content: flex-end;
    width: 300px;
    margin-top: 20px;
}
.list:hover a{
    border: 1px solid var(--white-color);
    padding-top: 9px;
    padding-bottom: 9px;
}
.humberger-menu:hover {
    border: 1px solid var(--white-color);
    
    

}




