:root {
    --header-background-color: #131921;
    --overlay-background-color: rgba(0, 0, 0, 0.4);
    --search-icon-background-color: #febd69;
    --lang-label-font-color: #555c54;
    --lang-shopping-font-color: #555c54;
    --lang-link-color: #0000EE;
    --white-color: #ffffff;
    --input-radio-color: #ffd814;
    --link-color: blue;
    --link-hover-effect-color: rgb(247, 93, 4);
    --drobdown-side-button: #a7acb2;
}
 /* @font-face {
    font-family: 'Amazon Ember';
    font-weight: 200;
    src: url(./gggggggggggggggggggggggg.ttf);
} */
@font-face {
    font-family: 'Amazon Ember';
    font-weight: 200;
    src: url(./Dv1WQ5DdeMS5qP7.woff2) format("woff2"),url(./e0LnMbFWJC-TMQz.woff) format("woff");
}

*{
    font-family: "Amazon Ember";
}
body {
    margin: 0;
    font-family: "Amazon Ember";
}

.main-nav {
    height: 3.75rem;
    width: 100%;
    background-color: var(--header-background-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.mainnav-left {
    display: flex;
    flex-direction: row;
    width: 321px;
}

.mainnav-logo {
    display: block;
    background: url("amazonlogo background.png");
    background-position: 4px 333px;
    width: 7rem;
    height: 3.125rem;
    margin-top: 1.5rem;
     border: 1px solid transparent;
}

.amazon-logo {
    width: 8.33rem;
    display: flex;
    margin-left: 5px;
    margin-top: -1.0625rem;
}

.mainnav-logo:hover {
    border-color: var(--drobdown-side-button);

}

.amazon-eg {
    display: block;
    color: var(--white-color);
    font-size: 0.84375rem;
    font-weight: bold;
    margin-top: 0.8125rem;
    margin-left: 7rem;
    height: 2px;
}

.mainnav-logo {
    display: block;
    background: url("amazonlogo background .png");
    background-position: 4px 333px;
    width: 7rem;
    height: 3.125rem;
    margin-top: 1.5rem;
}

.mainnav-amazonlogo {
    display: block;
    width: 8.4375rem;
    height: 5rem;
    opacity: 0%;
}

.mainnav-location {
    width: 10.9375rem;
    height: 3.5rem;
    display: flex;
    margin-left: -5px;
    justify-content: flex-start;
     border: 1px solid transparent;
}

.location-item {
    display: block;
    background: url("amazonlogo background .png");
    background-position: -32px 161px;
    width: 6.5rem;
    height: 50px;
    margin-top: 0.375rem;
    margin-left: -1.25rem;
    padding: 0px;
}

.location-icon {
    display: block;
    width: 1.25rem;
    height: 5rem;
    opacity: 0%;

}

.mainnav-delivary {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 8.5625rem;
    height: 1rem;
    margin-left: -3.125rem;
    margin-top: 0.8125rem;
}

.mainnav-location:hover {
    border-color:  var(--white-color);
    
}

.mainnav-delivary2 {
    width: 9.375rem;
    height: 0.9375rem;
    font-size: 0.75rem;
    font-weight: 900;
    margin-left: 0.375rem;
    font-family: 'Amazon Ember';
    color: #a5ada4;
}

.mainnav-delivary3 {
    display: inline;
    margin-top: 1px;
    margin-left: 0.375rem;
    width: 7.06rem;
    height: 0.625rem;
    font-size: 13.5px;
    font-weight: 900;
    font-family: 'Amazon Ember';
    color: var(--white-color);
}

.search-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40.5rem;
    height: 2.5625rem;
    margin-left: -185px;
    margin-right: -10.625rem;
    font-family: 'Amazon Ember';

}

.searchbox-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 39.5rem;
    height: 2.5rem;
    border-radius: 5px;
    background-color: var(--white-color);

    border-radius: 0.375rem;
}

.ALL {
    margin-left: 4px;
    margin-top: 2px;
    font-size: 11px;
    font-weight: 800;
    font-family: 'Amazon Ember';
}

.All-drobdown {
    display: flex;
    width: 5.06rem;
    height: 2.5rem;
    margin-right: auto;
}

.drobdown-button {
    display: flex;
    flex-direction: row;
    width: 80px;
    height: 40px;
}

.All-button {
    margin-left: 0.5rem;
    margin-top: -1px;
    display: inline-block;
    width: 2px;
    height: 0px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #666666;
}

.searchbox-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 40px;
    margin-left: -1px;
    gap: 1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    background-color: #e6e6e6;
    color: #555771;
}

.placeholder {
    font-size: 0.9375rem;
    margin-top: 0.687rem;
    margin-left: 0.562rem;
    font-weight: 600;
    ont-family: 'Amazon Ember';
}

.searchbox-sprite {
    display: block;
    width: 2.8125rem;
    height: 2.5rem;
    background-image: url("amazonlogo background .png");
    background-position: 2px 170px;
    margin-right: 0px;
    margin-left: auto;
    background-color: var(--search-icon-background-color);
    border-radius: 3px;
}

.searchbox-icon {
    display: block;
    width: 1.125rem;
    height: 2.375rem;
    opacity: 0%;
}

.searchbox-icon:hover{
    cursor: pointer;
    color: rgb(187, 139, 84);
}
.mainnav-right {
    display: flex;
    width: 22.985rem;
    height: 3.75rem;
}

.mainnav-lang {
    display: flex;
    align-items: center;
    width: 3.125rem;
    height: 3.437rem;
    margin-top: 0.375rem;
    font-weight: bold;
    font-size: 16px;
    margin-left: -16px;
    border: 1px solid transparent;



}

.favourite-lang {
    display: none;
    align-items: center;
    width: 16.25rem;
    margin-top: 6.25rem;
    margin-left: -7rem;
    position: relative;
}
.mainnav-lang:hover .favourite-lang{
    height: 16.25rem;
    display: block;
}

.dropdown-overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-background-color);
    z-index: 999;
}

.favourite-lang-drobdown::before {
    display: none;
    content: "";
    position: absolute;
    top: -10px;
    left: 55%;
    transform: translateX(-50%);
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent white;
}

.favourite-lang-drobdown {
    display: none;
    width: 12.5rem;
    height: 12.5rem;
    margin-top: 6.25rem;
    position: absolute;
}

.favourite-lang-label {
    color: var(--lang-label-font-color);
    font-size: 0.75rem;
}

.favourite-lang-shopping {
    margin-top: 1.81rem;
    color: var(--lang-shopping-font-color);
    font-size: 9.9375;
}

.favourite-lang-button {
    color: var(--lang-link-color);
    text-decoration: none;
    font-size: 0.875rem;
}

.favourite-lang-content {
    display: none;
    width: 12.5rem;
    height: 12.5rem;
}

.favourite-lang-fieldset {
    display: none;
    width: 12.5rem;
    height: 193px;
    margin-top: -3px;
    margin-left: 2.5rem;
}

.favourite-lang-line {
    width: 180px;
    margin-left: 1.687rem;
    margin-top: 0.5rem;
    opacity: 0.3;
}

.favourite-lang-country {
    display: block;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
}

.favourite-lang-legend {
    color: #474849
}

.mainnav-lang:hover .favourite-lang-fieldset {
    display: block;
    background-color: var(--white-color);
    border: none;
}

.mainnav-lang:hover .dropdown-overlay {
    display: block;
}

.mainnav-lang:hover .favourite-lang-drobdown {
    display: block;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
}

.mainnav-lang:hover .favourite-lang-drobdown::before {
    display: block;
}

.mainnav-en-lang {
    color: var(--white-color);
    font-size: 0.875rem;
    margin-left: 4px;
    margin-top: 3px;
    font-family: 'Amazon Ember';
    font-weight: bold;
}

.mainnav-lang-button {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 3.4375rem;
    height: 3.125rem;
    margin-left: 15px;
}

.mainnav-right-lang-button {
    display: inline-block;
    width: 2px;
    height: 0px;
    border-left: 3px solid;
    border-right: 3px solid;
    border-top: 4px solid #9a9da1;
    margin-left: 3px;
    margin-top: 6px;
}

.mainnav-lang:hover .mainnav-lang-button {
    border-color:  var(--white-color);
   
}

input[type="radio"] {
    accent-color: var(--input-radio-color);
}

.mainnav-signin {
    display: flex;
    margin-left: 0.8125rem;
    margin-top: 1rem;
    width: 8.8125rem;
    height: 4.4375rem;

}
.signin-drobdown-content:hover .signin-drobdown-overlay
{
    display: block;
}
.signin:hover .signin-drobdown{
    display: block;
}
.signin {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 140px;
    height: 3.4375rem;
    margin-top: -3px;
    margin-left: 1.1875rem;
    border-color: 1.2px solid transparent;
}

.singin-internal {
    margin-left: 3px;
}
.signin-lists-account{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    width: 141px;
    height: 50px;
}

.mainnav-hello {
    color: var(--white-color);
    font-size: 12px;
    margin-left: 5px;
    margin-top: -12px;
    font-family: 'Amazon Ember';
}

.mainnav-account {
    color: var(--white-color);
    font-size: 13px;
    font-weight: bold;
    margin-left: 4px;
    margin-top: 1px;
    font-family: 'Amazon Ember';
}

.singin-sidebutton {
    margin-top: 1.625rem;
    margin-left: -5px;
}

.signin-button {
    display: inline-block;
    width: 2px;
    height: 0px;
    border-left: 3px solid;
    border-right: 3px solid;
    border-top: 3px solid #9a9da1;
    margin-left: -9px;
    margin-top: -6px;
}

.signin:hover {
    border-color:  var(--white-color);
   
}

.signin-drobdown-link-start:hover {
    color: var(--link-hover-effect-color);
    text-decoration: underline;
}

.signin:hover .signin-drobdown {
    display: block;
    background-color: white;
}

.signin-drobdown-overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.signin:hover .signin-drobdown-overlay{
    display: block;
}

.signin-drobdown {
    display: none;
    position: absolute;
    width: 30rem;
    height: 21.875rem;
    margin-top: 2.625rem;
    margin-left: -217px;
    z-index: 1000;
    border-radius: 4px;
}

.signin-drobdown::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 68%;
    transform: translateX(-50%);
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent white;
}

.favourite-lang-content {
    display: block;
    width: 30rem;
    height: 19.8125rem;
}



.signin-drobdown-header {
    display: flex;
    flex-direction: column;
    margin-left: 5.25rem;
    margin-top: 0.875rem;
}

.signin-drobdown-header-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 2.1875rem;
    border-radius: 8px;
    background-color: rgb(238, 204, 12);
    color: black;
    margin-left: 1.5rem;
}

.signin-drobdown-header-link2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18.125rem;
    height: 0.625rem;
    background-color: var(--white-color);
    margin-top: 0.5rem;
    font-size: 0.75rem;
}

.signin-drobdown-customer {
    margin-bottom: 0.5rem;
    margin-right: 0.3125rem;
}

.signin-drobdown-link-start {
    color: var(--link-color);
    margin-bottom: 0.5rem;
}

.signin-drobdown-line-header {
    width: 27.5rem;
    opacity: 0.3;
    margin-left: 1.875rem;
}

.signin-drobdown-button {
    text-decoration: none;
    font-size: 0.875rem;
}

.signin-drobdown-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 31.25rem;
    height: 15.625rem;
    margin-top: 2.75rem;
    margin-left: 1.5rem;

}

.signin-drobdown-body-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 11.25rem;
    height: 15.4375rem;
    margin-left: 1.875rem;
    border-right: 0.3px solid #e0e9e9;
    margin-right: 6.25rem;
    margin-top: -3.5625rem;
}

.signin-drobdown-lists {
    font-weight: 600;
    margin-left: -1.5625rem;
}

.signin-drobdown-creat {
    color: black;
    text-decoration: none;
    font-size: 0.875rem;
    margin-top: 0.625rem;
    margin-left: -1.5625rem;
}

.signin-drobdown-body-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    width: 15.625rem;
    height: 18.75rem;
    margin-left: -6.875rem;
    margin-right: -0.5625rem;

}

.signin-drobdown-head2 {
    font-weight: 600;
}

.signin-drobdown-link {
    color: #424344;
    text-decoration: none;
    font-size: 0.875rem;
}

.signin-drobdown-link:hover {
    color: var(--link-hover-effect-color);
    text-decoration: underline;
}

.signin-drobdown-creat:hover {
    color: var(--link-hover-effect-color);
    text-decoration: underline;
}

.orders {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 55px;
    height: 20px;
    margin-top: 1.6875rem;
    margin-left: 4px;
    font-weight: 600;
    font-size: 0.857rem;
    border: 1px solid transparent;
}

.orders-link {
    color: var(--white-color);
    text-decoration: none;
    font-size: 0.8125rem;
    margin-left: 1.0625rem;
}

.orders:hover {
    border-color: var(--white-color);
   
    
}

.mainnav-right-car {
    display: flex;
    flex-direction: column;
    width: 5.25rem;
    height: 3.125rem;
    margin-top: 0.6875rem;
    margin-right: 0.9375rem;
    margin-left: 0.625rem;
    border: 1px solid transparent;
}

.input-car {
    font-size: 1.0625rem;
    color: #f08804;
    margin-left: 1.5625rem;
    font-weight: 700;

}

.mainnav-shopingcar {
    display: block;
    width: 5.1857rem;
    height: 2.884rem;
    background: url("amazonlogo background .png");
    background-position: -912px 122px;
    margin-top: -1.5625rem;
}

.mainnav-shopingcar2 {
    display: block;
    width: 5.125rem;
    height: 3rem;
    opacity: 0;
    margin-top: 0.624rem;
}

.mainnav-right-car:hover {
    border-color:  var(--drobdown-side-button);
   
}

.cart {
    margin-top: 1.875rem;
    margin-left: -52px;
    font-size: 0.8125rem;
    font-weight: 800;
    color: #f0f8ff;
}

.secend-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 39px;
    background-color: #232f3e;
}

.humberger-menu {
    display: flex;
    align-items: center;
    width: 59px;
    height: 39px;
    margin-left: 17px;
}

.humberger-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30px;
    height: 32px;
    background-image: url("amazonlogo background .png");
    background-position: -167px 202px;
    font-size: 14px;
    margin-top: 4px;
    margin-left: -1px;
}

.humberger-item {
    display: block;
    width: 26px;
    height: 31.9px;
    opacity: 0;
}

.humberger-all {
    color: var(--white-color);
    margin-left: 28px;
    font: bold 13px Arial, sans-serif
}

.second-navheader {
    display: flex;
    flex-direction: row;
    width: 863px;
    height: 39px;
    align-items: center;
    justify-content: center;
    margin-left: -63px;
    margin-top: 3px;

}

.secondnav-ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    font-size: 14px;

}

.refrance-secondnav {
    text-decoration: none;
    color: white;
}

.rightnav-picture {
    display: flex;
    justify-content: flex-end;
    width: 428px;
    height: 39px;
    margin-left: 46px;
}

.prime {
    display: block;
    width: 34px;
    height: 20px;
    position: relative;
}

.prime-button {
    display: inline-block;
    width: 2px;
    height: 0px;
    position: absolute;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #9a9da1;
    margin-left: 38px;
    margin-top: -10px;

}

.prime-drobdown-overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.prime-drobdown {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 340px;
    height: 450px;
    margin-top: 8px;
    margin-left: -11px;
}

.prime-drobdown::before {
    display: block;
    content: "";
    position: absolute;
    top: -10px;
    left: 15%;
    margin-top: 2px;
    transform: translateX(-50%);
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent white;
}

.prime:hover .prime-drobdown {
    display: block;
    background-color: var(--white-color);
    z-index: 1000;

}

.prime:hover .prime-drobdown-overlay {
    display: block;
}

.prime-drobdown-header {
    display: block;
    margin-top: 20px;
    margin-left: 45px;
}

.prime-head {
    font-size: 26px;
    font-weight: bold;
    color: black;
    margin-left: 2px;
}

.prime-paragraph1 {
    margin-left: -7px;
    font-size: 12px;
}

.prime-paragraph2 {
    margin-left: 19px;
    font-size: 15px;
}

.prime-photo {
    display: flex;
    width: 312px;
    height: 245px;
    justify-content: center;
    background-color: #0773f7;
    margin-top: 12px;
    margin-left: 10px;
}

.prime-join {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 305px;
    height: 32px;
    border-radius: 15px;
    background-color: rgb(238, 204, 12);
    margin-top: 14px;
    margin-left: 17px;
}

.prime-link {
    color: black;
}

.prime-logo {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    margin-top: 20px;
}

.list:hover a {
    border: 1px solid var(--white-color);
    padding-top: 9px;
    padding-bottom: 9px;
}

.humberger-menu:hover{
    border: 1px solid var(--white-color);
}